spring:
  application:
    name: auth

  datasource:
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 30000
      connection-timeout: 20000
      max-lifetime: 600000

  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        generate_statistics: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: email,profile,openid
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope: read:user,user:email
            redirect-uri: http://localhost:8089/login/oauth2/code/github

server:
  port: 8089

security:
  jwt:
    secret-key: ${JWT_SECRET}
    issuer: ${JWT_ISSUER:issuer}

    access-ttl-seconds: ${JWT_ACCESS_TTL_SECONDS:900}
    refresh-ttl-seconds: ${JWT_REFRESH_TTL_SECONDS:604800}

    access-token-cookie-name: ${JWT_ACCESS_TOKEN_COOKIE_NAME:access-token}
    refresh-token-cookie-name: ${JWT_REFRESH_TOKEN_COOKIE_NAME:refresh-token}

    cookie-secure: ${JWT_COOKIE_SECURE:false}
    cookie-http-only: ${JWT_COOKIE_HTTP_ONLY:true}
    cookie-path: ${JWT_COOKIE_PATH:/}
    cookie-domain: ${JWT_COOKIE_DOMAIN:}
    cookie-same-site: ${JWT_COOKIE_SAME_SITE:Lax}
    cookie-max-age: ${JWT_COOKIE_MAX_AGE:3600}

app:
  cors:
    front-end:
      url: ${FRONTEND_URL:http://localhost:5173}

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
        engine:
          internal:
            StatisticalLoggingSessionEventListener: DEBUG
        stat: DEBUG
